
h1{
    color:red;
    font-style:italic;
}

h2{
    color:blue;
    opacity:0.6;
}

#name{
    color:gray;
}

#age{
    font-size:30;
    text-align:center;
}

.table tbody{
    font-family:Arial;
}