{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
head %} Login {% endblock %} {% block body %}
<form method="POST">
  <input
    autocomplete="off"
    autofocus
    type="text"
    aria-label="First name"
    class="form-control"
    placeholder="Username"
    name="Username"
  />
  <br />

  <input
    autocomplete="off"
    autofocus
    type="Password"
    aria-label="Last name"
    class="form-control"
    placeholder="Password"
    name="Password"
  />
  <br />
  <button type="Submit" class="btn btn-dark">Log in</button>
  <a href="register.html" class="btn btn-dark">
    Don't have an account? Sign up
  </a>
</form>
{% endblock %}
